@model Order
@{
    var total = @Model.CartLines.Sum(c => c.Product.Price * c.Quantity);
}

<div class="row shadow my-3">
    <div class="col-md-3 border-1 border-dark p-3 bg-light shadow">
        <h5 class="display-5 text-center">
            <i class="fa fa-address-book text-danger"></i>
            <br />
            @Model?.Name
        </h5>
        <p>@Model?.Email</p>
        <p>@Model?.Address</p>
        <p class="rounded-2 p-3">
            <span class="p-2 fs-3">Shipped : </span>
            <span class="@(Model.Shipped ? "bg-success text-white" : "bg-info") p-2">@(Model.Shipped ? "Completed" : "In Progress")</span>
        </p>
    </div>
    <div class="col-md-9">
        <h6 class="display-6 mt-3 text-center">
            Cart
        </h6>
        <ul class="list-group">
            @foreach (var cartItem in Model?.CartLines)
            {
                <li class="list-group-item d-flex justify-content-between brand">
                    @cartItem.Product.Name
                    <b>@cartItem.Quantity * @cartItem.Product.Price.ToString("C2")
                        = @((cartItem.Quantity*cartItem.Product.Price).ToString("C2"))
                    </b>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between text-danger">
                Total
                <b>@total.ToString("C2")</b>
            </li>
        </ul>
        <div class="text-center mt-2 p-2">
            <div class="btn btn btn-group">
            <form method="post" asp-action="Complete" asp-route-id="@Model.Id">
                <input type="hidden" name="id" value="@Model.Id"/>
                <button type="submit" class="btn btn-primary" disabled="@Model?.Shipped">
                    <i class="fa-solid fa-truck-fast"></i> Complete
                </button>
            </form>
            <a class="btn btn-primary" asp-action="Index"> Orders</a>
            </div>
        </div>
    </div>
</div>